/CBuild/

/build_tetris/*
!/build_tetris/gbemu/
/build_tetris/gbemu/CMakeFiles
/build_tetris/gbemu/MakeFile
/build_tetris/gbemu/cmake_install.cmake

/build_sml/*
!/build_sml/gbemu/
/build_sml/gbemu/CMakeFiles
/build_sml/gbemu/MakeFile
/build_sml/gbemu/cmake_install.cmake

/build_zelda/*
!/build_zelda/gbemu/
/build_zelda/gbemu/CMakeFiles
/build_zelda/gbemu/MakeFile
/build_zelda/gbemu/cmake_install.cmake
